name: Tests execution
on:
    push:
    workflow_dispatch:
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
    call-workflow1:
        uses: ./.github/workflows/perform_functional_tests.yml
        
    call-workflow2:
        needs: call-workflow1
        uses: ./.github/workflows/perform_unit_tests.yml