name: perform-functional-tests
on: 
    workflow_call:
jobs: 
  Run_functional_tests:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt install tree
      - run: cmake -DBUILD_CONFIGURATION=DEFAULT -DCMAKE_BUILD_TYPE=Debug -B build/default -G "Unix Makefiles" 
      - run: cmake --build build/default --target AoC2023
      - run: ./functionalTests/functionalTestsScript.sh
      - run: tree
      - uses: actions/upload-artifact@v4
        with:
          name: functionalTests
          path: functionalTests/output.txt
                functionalTests/expectedResults.txt   